
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .h3 {
    text-align: center;
  }
  
 /* Adjust Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
  color:          rgb(163, 19, 19);
  text-shadow:    none;
  }
  /* Adjust Menu colors - Hover */
  .navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
  color:          rgb(201, 18, 18);                      
  text-shadow:    none;
  }
  /* Adjust Menu colors - Active */
  .navbar .nav > li > a:active, .navbar .nav > li > a:active:first-letter,
  .navbar .nav > li.current-menu-item > a, 
  .navbar .nav > li.current-menu-ancestor > a,
  .navbar .nav > li.current-menu-item > a:first-letter, 
  .navbar .nav > li.current-menu-ancestor > a:first-letter {
  color:          blue;
  text-shadow:    none;
  }
/*-- Whole Site Formatting ---*/

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: auto;
  text-align: justify;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


